*{

}
.main-page{
    width: 1280px;
    height: 1700px;
    margin: 0px;
}
.nav-bar{
    width: 1280px;
    height: 100px;
}

.navigational-panel{
    color: red;
    font-family: Montserrat;
    display: flex;
    margin: 0 auto;
    width: 900px;
}
li {
    font-weight: 700;
    list-style-type: none;
    font-family: Montserrat;
    padding: 50px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
}
.navigational-panel-home{
    text-decoration: none;
    color: red;
}
.navigational-panel-photoapp{
    text-decoration: none;
    color: red;
}
.navigational-panel-design{
    text-decoration: none;
    color: red;
}
.navigational-panel-download{
    text-decoration: none;
    color: red;
}
.image{
    margin-top: 30px;
    height: 789px;
    width: 1280px;
}
.site-description{
    width: 1280px;
    height: 500px;
    text-align: justify;
}
.text-title{
    margin-top: 50px;
    text-transform: uppercase;
    font-family: Montserrat;
    text-align: center;
    font-size: 30px;
}
.text-description-box{
    max-width: 1145px;
    max-height: 300px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}
.text-description-box2{
    margin-top: 30px;;
    max-width: 1145px;
    max-height: 300px;
    text-align: center;
    margin: 0 auto;
}
.text-description{
    font-family: Montserrat;
    line-height: 35px;
}
.button-box{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
.button-get-started{
    color: white;
    background-color: red;
    width: 200px;
    height: 50px;
    font-family: Montserrat;
    text-transform: uppercase;
    border-color: red;
    justify-content: center;
    cursor: pointer;
}
.copyright-text{
    font-family: Montserrat;
    text-align: end;
    margin-top: 100px;
}